@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;700&display=swap');

nav{
  display: flex;
  padding: 1.5rem;
  justify-content: flex-start;
  align-content: space-between;
}

p{
  font-family: 'Roboto';
  font-size: 3rem;
  color: #fffaff
}

a{
  font-family: 'Permanent Marker', sans-serif;
  font-size: 2rem;
  color: #fffaff;
  margin-right: 3rem;
  text-decoration: none;
}

a:hover{
  opacity: 90%;
}

.wij{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

div{
  padding: 3rem;
  height: 95vh;
}

img{
  max-width: 100%;
  max-height: 100%;
  margin: 1rem;
}

.buttonImage{
  max-height: 60vh;
}

.video{
  position: relative;
  height: 90vh;

}

iframe{
  height: 90%;
  width: 80%;
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 1rem;
}

.storefront{
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6rem;
}

.storeItem{
  height: 50vh;
  display: grid;
  grid-template-rows: 80% 20%;
  background-color: #f4c646;
}

.storeItem img{
  margin-left: auto;
  margin-right: auto;
}

button{
  background-color: #3e92cc;
}

.persoon{
  display: grid;
  grid-template-rows: 70% 10% 20%;
  max-height: 70vh;
}

.persoon img{
  margin-left: auto;
  margin-right: auto;
  max-height: 90%;
}

.paddingbox{
  padding-left: 25rem;
}

.centerimage{
  margin-left: auto;
  margin-right: auto;
  max-height: 90vh;
}

.blauw{
  background-color: #3e92cc;
}

.roze{
  background-color: #d8315b;
}

.geel{
  background-color: #f4c646;
}

.wit{
  background-color: #fffaff;
}

.donkerblauw{
  background-color: #0a2463;
}
